html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
   
}

.caja {
  margin: 20px; /* Añadir margen para más espacio alrededor de cada caja */
  text-align: center;
  border-style: solid;
  border-color: transparent;
}
.caja:hover{
  border-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.imagen {
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.pasarPagina {
  width: auto;
  margin: 5px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pasoPagina {
  width: 20px;
}

.casa {
  width: 60px;
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 98%;
  
}

li {
  margin: 15px; /* Añadir margen para más espacio alrededor de cada elemento de lista */
}

body{
  background-image: url("https://img.freepik.com/foto-gratis/ruido-fondo_1194-7547.jpg?t=st=1741881652~exp=1741885252~hmac=a1cad90b40ab7c22b57168f0b541435b41d4c17e93d89029d9a3b219adec13ae&w=740");
}

.contenido{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  align-content: center;
}
h1{
  text-align: center;
}
.contenido table {
  margin: auto;
  margin-bottom: 20px;
}
td {
  padding: 10px;
}

.contenido ul{
  margin: auto;
}

